body
{
  color: rgb(0, 0, 0);
  background: #e3740d;
}

h1{
    background-color: aliceblue;
}
#camera , #result
{
  border: 2px dashed rgb(20, 140, 176);
  width: 350px;
  height: 300px; 
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-image:image-set("background.jpg")

}
@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(0, 94, 255);}
    to{box-shadow: 1px 1px 38px rgb(183, 0, 255);}
}